@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    25% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.50;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
  }
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }