body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}
#navbarnav{
    animation: fadeIn 5s ease;
}
.navbar-nav{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-item a{
    color: #fff;
    margin-left: 1.5rem;
    border-bottom: 2px solid transparent;
    transition: all .70s ease;
}
.nav-item a:hover{
    border-bottom: 2px solid white;
}

.home{
    background-image: url(../img/main.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.row{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.col-1{
    transition: all .50s ease;
}
.col-1 .home-header{
    font-size: 50px;
    margin: initial;
    font-weight: 300;    
}
.col-1 h3{
    font-size: 20px;
    margin-top: initial;
    font-weight: 200;
}
.info div{
    padding-bottom: 10px;
}
.info div i{
    padding-right: 15px;
    font-size: 13px;
    cursor: pointer;
}
.info div a{
    color: #fff;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    transition: all 1s ease;
}
.socials{
    margin-top: 30px;
    display: flex;
}
.socials a{
    color: #fff;
    font-size: 17px;
    display: block;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: 7px;
    transition: all .50s ease;
}
.socials a:hover{
  background-color: white;
  border-radius: 5px;
  color: black;
  transform: translateY(-4px);
  box-shadow: 0 0 30px #fff;
}


.about .row{
    height: initial;
    padding-top: 5rem;
    position: relative;
}
#about .btn{
    position: absolute;
    right: 0;
    top: 50px;
    cursor: pointer;
}
.about .col-1{
    flex: 1;
}
.about .col-1 img{
    width: 100%;
    border: 1px solid red;
}
.about .col-2{
    flex: 1;
}
.about-text{
    padding-left: 4rem;
}
.about-text h3{
    margin: initial;
}
.about-text p{
    font-size: 14px;
}
.col{
    flex: 1;
}
.col h1, .col-2 h1{
    font-size: 30px;
}
#about .row .about-text p{

}